#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.preact:hover {
  filter: drop-shadow(0 0 2em #673ab8aa);
}

.card {
  padding: 2em;
}

.cardList {
  list-style-type: none;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
  & img {
    display: block;
  }
}

.readTheDocs {
  color: #888;
}
